<div>
    <h2>Databinding Demo</h2>
    <h3>Event binding, Username: {{username}}</h3>
    <!--#un is the template reference you can access some inbuilt properties like
    value-->
    <input type = 'text' autocomplete="off" #un>
    <button (click) = "handleClick(un.value)" >MyButton</button>
    <div [hidden] = 'toggleButton'>Hello Message</div>
    <div>Toggle Button: {{toggleButton}}</div>
    <button [disabled] = 'toggleButton'>MyButton2</button>
    <h3>Two way databinding</h3><hr />
    <!--Two way databinding message here updates the component message-->
    <input type = 'text' name = 'msg' [(ngModel)] = 'message'> <br />
    <input type = 'text' name = 'msg2' [(ngModel)] = 'message'>
    <div>
        Message: {{message}}
    </div>
</div>
